<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533048516044-1cvjjhan1tj2ka1ujulq95r8eurrkcek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533048516044-1cvjjhan1tj2ka1ujulq95r8eurrkcek</string>
	<key>API_KEY</key>
	<string>AIzaSyA-MwKJw5uzrgPM_RffsFssl9nDgC3Pxwk</string>
	<key>GCM_SENDER_ID</key>
	<string>533048516044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonnenstudio.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-6e07b</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-6e07b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533048516044:ios:fd0d227da320cf3e28d169</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-6e07b.firebaseio.com</string>
</dict>
</plist>